# Default values for moodle.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
name: moodle
image: moodlehq/moodle-php-apache:8.2-bullseye
dbpass: password
proto: https
url: moodle.server.robots.beer
dbport: 3306
storage: 10Gi
dbuser: moodle
uuid: 12345

storageClass: hcloud-volumes
seedSource: https://storage.googleapis.com/elino-public-assets/sql/moodle/uggla_seed.sql
seed: "true"
cronSecret: moodle-cron

mysql-cluster:
  enabled: true
  mysqlRootPassword: ROOT_PASSWORD
  mysqlUser: moodle
  mysqlPassword: password
  mysqlDatabase: moodle

ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: traefik
    cert-manager.io/cluster-issuer: http
    kubernetes.io/tls-acme: "true"
    traefik.ingress.kubernetes.io/router.entrypoints: websecure,web

  hosts:
    - host: moodle.server.robots.beer
      paths:
        - path: /
          pathType: Prefix

  tls:
    - secretName: moodle-tls
      hosts:
        - moodle.server.robots.beer

service:
  annotations:
    norh/deployname: moodle
    norh/resources: low
    norh/deploydate: date
    norh/userid: userid
    norh/id: idss

hosting:
  tags:
    norh/deployname: moodle
    norh/resources: low
    norh/deploydate: date
    norh/userid: userid
    norh/id: idss

podAnnotations:
  norh/deployname: moodle
  norh/resources: low
  norh/deploydate: date
  norh/userid: userid
  norh/id: idss

resource: low
#Only for custom
cpu: 100m
memory: 128Mi
